body {
	height: 125vh;
	margin-top: 80px;
	text-align: center;
  padding: 30px;
  background-color: rgb(36, 35, 35);
}
header{
  background-color:#333;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
}
header *{
  display: inline;
}

header h1 {
    font-size: 32px;
    font-family: sans-serif;
    color:rgb(255, 255, 255);
    padding: 24px;
    margin: 0;
    float: left;
    left: 80px;
}

header ul {
    position: relative;
    font-family: sans-serif;
    
  }
  
  header li { 
    padding: 20px;
  }
  
  li a {
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 14px 16px;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    color: rgb(0, 173, 241);
  }

