body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
    font-size: 32px;
    font-family: sans-serif;
    color:rgb(255, 255, 255);
    background-color:#333;
    padding: 20px;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50;
  }

  .WIP {
      font-size: 40px;
      color: red;
  }

  .bio {
      font-size: 30px;
      color: black;
      position: relative;
      float: right;
      width: 50%;
      padding: 10px;
      line-height: 1.5;
      top: 250px;
      right: 45px;
  }

  .image {
      padding: 15px;
  }