header{
  background-color:#333;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 99;
}
header *{
  display: inline;
}

h1 {
    font-size: 32px;
    font-family: sans-serif;
    color:rgb(255, 255, 255);
    padding: 24px;
    margin: 0;
    float: left;
    left: 80px;
}

header ul {
    font-family: sans-serif;
    
  }
  
  header li { 
    padding: 20px;
  }
  
  li a {
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 20px 16px;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    color: rgb(0, 173, 241);
  }


  body {
    height: 125vh;
    margin-top: 80px;
    text-align: center;
    padding: 30px;
    background-color: rgb(36, 35, 35);
  }



#myImg1 {
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  float: left;
  left: 80px;
  padding: 1px;
  border: 3px solid rgb(83, 83, 83);
}

#myImg1:hover {opacity: 0.7;}


#myImg2 {
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  float: left;
  left: 420px;
  padding: 1px;
  border: 3px solid rgb(83, 83, 83);
}

#myImg2:hover {opacity: 0.7;}


#myImg3{
  position: absolute;
  float: left;
  left: 760px;
  transition: transform .3s;
  cursor: pointer;
  padding: 1px;
  border: 3px solid rgb(83, 83, 83);
}

#myImg3:hover{opacity: 0.7;}

#myImg4{
  position: absolute;
  float: left;
  left: 1100px;
  padding: 1px;
  border: 3px solid rgb(83, 83, 83);
  transition: transform .3s;
  cursor: pointer;
}

#myimg4:hover{opacity: 0.7;}

#myImg5{
  position: absolute;
  float: left;
  left: 1443px;
  padding: 1px;
  border: 3px solid rgb(83, 83, 83);
  transition: transform .3s;
  cursor: pointer;
}

#myImg5:hover{opacity: 0.7;}

#myImg6{
  position: absolute;
  float: left;
  top: 443px;
  left: 80px;
  padding: 1px;
  border: 3px solid rgb(83, 83, 83);
  transition: transform .3s;
  cursor: pointer;
}

#myImg6:hover{opacity: 0.7;}

#myImg7{
  position: absolute;
  float: left;
  top: 443px;
  left: 420px;
  padding: 1px;
  border: 3px solid rgb(83, 83, 83);
  transition: transform .3s;
  cursor: pointer;
}

#myImg7:hover{opacity: 0.7;}

#myImg8{
  position: absolute;
  float: left;
  top: 443px;
  left: 760px;
  padding: 1px;
  border: 3px solid rgb(83, 83, 83);
  transition: transform .3s;
  cursor: pointer;
}

#myImg8:hover{opacity: 0.7;}

#myImg9{
  position: absolute;
  float: left;
  top: 443px;
  left: 1100px;
  padding: 1px;
  border: 3px solid rgb(83, 83, 83);
  transition: transform .3s;
  cursor: pointer;
}

#myImg9:hover{opacity: 0.7;}

#myImg10{
  position: absolute;
  float: left;
  top: 443px;
  left: 1443px;
  padding: 1px;
  border: 3px solid rgb(83, 83, 83);
  transition: transform .3s;
  cursor: pointer;
}

#myImg10:hover{opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  transform: scale(1.01);
  max-height: 1000px;
  
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.pictures{
  border: 1px solid gray;
}
