ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50;
  }

  h1 {
    font-size: 32px;
    font-family: sans-serif;
    color:rgb(255, 255, 255);
    background-color:#333;
    padding: 20px;
    margin: 0;
}

body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

.pos1{
  position: fixed;
  left: 80px;
  float: left;
  padding: 10px;
  transition: transform .2s;
  }

.pos1:hover{
  transform: matrix(3.5,0,0,3.5,600,300);
  z-index: 999;
}
.pos2{
  position: fixed;
  left: 420px;
  float: left;
  padding: 10px;
  transition: transform .2s;
}

.pos2:hover{
  transform: matrix(3.5,0,0,3.5,400,300);
  z-index: 999;
}

.pos3{
  position: fixed;
  float: left;
  left: 760px;
  padding: 10px;
  transition: transform .2s;

}

.pos3:hover{
  transform: matrix(3.5,0,0,3.5,0,300);
  z-index: 999;
}

.pos4{
  position: fixed;
  float: left;
  left: 1100px;
  padding: 10px;
  transition: transform .2s;
}

.pos4:hover{
  transform: matrix(3.5,0,0,3.5,-340,300);
  z-index: 999;
}

.pos5{
  position: fixed;
  float: left;
  left: 1443px;
  padding: 10px;
  transition: transform .2s;
}

.pos5:hover{
  transform: matrix(3.5,0,0,3.5,-650,300);
  z-index: 999;
}

.pos6{
  position: fixed;
  float: left;
  top: 443px;
  left: 80px;
  padding: 10px;
  transition: transform .2s;
}

.pos6:hover{
  transform: matrix(3.5,0,0,3.5,650,0);
  z-index: 999;
}